<mat-toolbar color="primary">
  <span><img src="/assets/images/logo.png" height=35 width=41></span>
  <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/aboutus" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a>
  <a mat-button routerLink="/contactus" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
  <a mat-button (click)="openSOS()"><span class="fa fa-medkit fa-lg"></span> SOS</a>
  <a *ngIf="username" mat-button routerLink="/addpost" routerLinkActive="active"><span class="fa fa-plus-circle fa-lg"></span> Add Post</a>
  <a *ngIf="username" mat-button routerLink="/notifications" routerLinkActive="active"><span class="fa fa-comments fa-lg"></span> Notifications</a>
  <a mat-button routerLink="/statistics" routerLinkActive="active"><span class="fa fa-bar-chart fa-lg"></span> Statistics</a>
  <span class="flex-spacer"></span>
  <a *ngIf="!username" mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
  <a *ngIf="username">{{username}}</a>
  <a *ngIf="username" mat-button (click)="logOut()"><span class="fa fa-sign-out fa-lg"></span> Logout</a>  
</mat-toolbar>

<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="5px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>SOS- United Against Disaster</h1>
    <p>We help the disaster victims and inform the authorities about their location. We inspire others to help for the cause because it's what that makes us more human..</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="/assets/images/logo.png" alt="Logo">
  </div>
  <div fxFlex></div>
</div>