<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <div fxFlex>
            <div>
               <h3>About Us</h3>
               <hr>
            </div>
     </div>

      <div fxFlex>
        <div fxLayout="column" fxLayout.gt-sm="row">
          <div fxFlex="70">
              <h2>Our Motive</h2>
              <p>During catastrophic disasters such an earthquake or tsunami, people may be injured or trapped in fallen buildings and debris. In situations like these, it is critical that rescue operations must be done within the first 72 hours to save many lives.</p>
              <p>This web application enables SOS notification distribution for searching victims in a disaster-damaged area. By using this application in such scenario, victims are able to send SOS notifications to nearby authorities. </p>
          </div>
          <div fxFlex="30">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>
                  <h2>Facts At a Glance</h2>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                        <dl>
                            <dt>Started</dt>
                            <dd>20 Oct. 2018</dd>
                            <dt>Developers</dt>
                            <dd>Krishnapal, Laksha, Kamran</dd>
                            <dt>Number of registered organizations</dt>
                            <dd>120</dd>
                            <dt>Instant notification</dt>
                            <dd>Yes</dd>
                       </dl>
                </mat-card-content>
              </mat-card>
          </div>
        </div>
      </div>
      
      <div fxFlex>
                <mat-card>
                    <blockquote>
                        <h3>Bad things do happen in the world, like war, natural disasters, disease. But out of those situations always arise stories of ordinary people doing extraordinary things.
                          </h3>
                        <footer>-- Daryn Kagan,
                          <cite>BrainyMedia Inc, 2018. 29 October 2018</cite>
                        </footer>
                    </blockquote>
                </mat-card>
      </div>


        <div fxFlex>
          <h2>App Developers</h2>
          <div>
            <mat-list>
              <mat-list-item>
                <img mat-list-avatar src="/assets/images/kpimg.png" alt="KP">
                <h4 mat-line>Krishnapal Singh Tomar</h4>
                  <p mat-line>Jr. Developer</p>
                  <p mat-line>MEAN stack developer, Mobile app developer, Computer Science Student
                  </p>
              </mat-list-item>
            </mat-list>
          </div>
        <div>
          <mat-list>
            <mat-list-item>
              <img mat-list-avatar src="/assets/images/lakshaimage.jpg" alt="Laksha">
              <h4 mat-line>Laksha Baghela</h4>
                <p mat-line>Jr. Developer</p>
                <p mat-line>MEAN stack developer, Mobile front end developer, Computer Science Student
                </p>
            </mat-list-item>
          </mat-list>
        </div>
      <div>
        <mat-list>
          <mat-list-item>
            <img mat-list-avatar src="/assets/images/kamranimg.jpg" alt="kamran">
            <h4 mat-line>Mohd. Kamran</h4>
              <p mat-line>Jr. Developer</p>
              <p mat-line>Front end developer, mobile app developer, Computer Science Student
              </p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
</div>