<mat-toolbar mat-dialog-title color="primary">
  Login/Register
  <span class="flex-spacer"></span>
  <button mat-button (click)="loginbtn()">Login</button>
  <button mat-button (click)="registerbtn()">Register</button>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<div *ngIf="errMess">
  <h2>Error</h2>
  <h4>{{errMess}}</h4>
</div>

<div *ngIf="login">
 <form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <p>
      <mat-form-field dividerColor="{{username.invalid && !username.pristine ? 'warn' : 'primary'}}">
        <input matInput placeholder="Username" type="text" [(ngModel)]="user.username" name="username" #username="ngModel" required>
        <mat-hint>
          <span [hidden]="username.pristine">
          <span [hidden]="!username.errors?.required">username is required</span>
          </span>
        </mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field dividerColor="{{password.invalid && !password.pristine ? 'warn' : 'primary'}}">
        <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required>
        <mat-hint>
          <span [hidden]="password.pristine">
          <span [hidden]="!password.errors?.required">password is required</span>
          </span>
        </mat-hint>
      </mat-form-field>
      <mat-checkbox style="margin-left: 20px" [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox>
    </p>     
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="loginForm.form.invalid" >Login</button>
  </mat-dialog-actions>
 </form>
</div>
<div *ngIf="!login">
  <form novalidate [formGroup]="rFormGroup" (ngSubmit)="onSubmitRegister()">
    <mat-dialog-content>
      <p>
        <mat-form-field >
          <input matInput placeholder="UserName" type="text" formControlName="username" name="username" pattern="[a-zA-Z][a-zA-Z0-9-_.]{1,20}" required>
          <mat-error>
            <span [hidden]="rFormGroup.controls.username.untouched">
            <span [hidden]="!rFormGroup.controls.username.errors?.required">username is required</span>
            <span [hidden]="!rFormGroup.controls.username.errors?.minlength">username is short</span>
            <span [hidden]="!rFormGroup.controls.username.errors?.pattern">Invalid!! First character must be an alphabet; Numbers,Letters,'-','_','.' allowed</span>
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName="password" name="password" required>
          <mat-error>
            <span [hidden]="rFormGroup.controls.password.untouched">
            <span [hidden]="!rFormGroup.controls.password.errors?.required">Password is required</span>
            <span [hidden]="!rFormGroup.controls.password.errors?.minlength">Password is short</span>
            </span>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput placeholder="Name Of Organization" type="text" formControlName="name" name="name" pattern="[a-zA-Z ]*" required>
          <mat-error>
            <span [hidden]="rFormGroup.controls.name.untouched">
            <span [hidden]="!rFormGroup.controls.name.errors?.required">Organization Name is required</span>
            <span [hidden]="!rFormGroup.controls.name.errors?.minlength">Organization Name is short</span>
            <span [hidden]="!rFormGroup.controls.name.errors?.pattern">Organization Name is invalid</span>
            </span>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput placeholder="Mobile No." type="text" formControlName="phone" pattern="[0-9]{10}" name="phone" required>
          <mat-error>
            <span [hidden]="rFormGroup.controls.phone.untouched">
              <span [hidden]="!rFormGroup.controls.phone.errors?.pattern">Enter Valid Phone number</span>
              <span [hidden]="!rFormGroup.controls.phone.errors?.required">This field is required</span>
              </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" type="text" formControlName="email" name="email" required>
          <mat-error *ngIf="rFormGroup.controls.email.invalid">{{getErrorEmail()}}</mat-error>
        </mat-form-field>
      </p>
    
      <p>
       <mat-form-field  *ngIf="show" >
        <input matInput placeholder="Address" type="text" formControlName="address" name="address" required>
        <mat-error>
          <span [hidden]="rFormGroup.controls.address.untouched">
          <span [hidden]="!rFormGroup.controls.address.errors?.required">Address is required</span>
          <span [hidden]="!rFormGroup.controls.address.errors?.minlength">Address is short</span>
          </span>
        </mat-error>
       </mat-form-field>
       <mat-checkbox style="margin-left: 20px" (change)="onChkChange()" [(ngModel)]="isChecked" formControlName="location" name="location">Current Location</mat-checkbox>
      </p>
      <p>
        <mat-form-field *ngIf="show">
          <input matInput placeholder="City" type="text" formControlName="city" name="city" required>
          <mat-error>
          <span [hidden]="rFormGroup.controls.city.untouched">
            <span [hidden]="!rFormGroup.controls.city.errors?.required">City Name is required</span>
            <span [hidden]="!rFormGroup.controls.city.errors?.minlength">City Name is short</span>
          </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="show">
          <input matInput placeholder="State" type="text" formControlName="state" name="state" required>
          <mat-error>
          <span [hidden]="rFormGroup.controls.state.untouched">
            <span [hidden]="!rFormGroup.controls.state.errors?.required">State Name is required</span>
            <span [hidden]="!rFormGroup.controls.state.errors?.minlength">State Name is short</span>
          </span>
          </mat-error>
        </mat-form-field>
      </p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <span class="flex-spacer"></span>
      <button mat-button mat-dialog-close>Cancel</button>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="rFormGroup.invalid" >Register</button>
    </mat-dialog-actions>
  </form>
</div>