<mat-toolbar mat-dialog-title color="accent">
  SOS
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form novalidate [formGroup]="sFormGroup" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <p>
      <mat-form-field>
        <input matInput placeholder="Name" type="text" formControlName="name" name="name" pattern="[a-zA-Z ]*" required>
        <mat-error>
          <span [hidden]="sFormGroup.controls.name.untouched">
          <span [hidden]="!sFormGroup.controls.name.errors?.required">username is required</span>
          <span [hidden]="!sFormGroup.controls.name.errors?.minlength">username is short</span>
          <span [hidden]="!sFormGroup.controls.name.errors?.pattern">username is invalid</span>
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select name="disastertype" formControlName="disastertype" placeholder="Select Disaster Type" required>
          <mat-option *ngFor="let disaster of disasters" [value]="disaster">
            {{disaster}}
          </mat-option>
        </mat-select>
        <mat-error>
            <span [hidden]="sFormGroup.controls.disastertype.pristine">
            <span [hidden]="!sFormGroup.controls.disastertype.errors?.required">This field is required</span>
            </span>
          </mat-error>
      </mat-form-field> 
    </p> 
    <p>
    <mat-form-field>
      <input matInput placeholder="Mobile Number" type="text" pattern="[0-9]{10}" formControlName="phone" name="phone" required>
      <mat-error>
        <span [hidden]="sFormGroup.controls.phone.untouched">
        <span [hidden]="!sFormGroup.controls.phone.errors?.pattern">Enter Valid Phone number</span>
        <span [hidden]="!sFormGroup.controls.phone.errors?.required">This field is required</span>
        </span>
      </mat-error>
    </mat-form-field>  
    </p>  
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button class="background-accent text-floral-white" [disabled]="sFormGroup.invalid">Submit</button>
  </mat-dialog-actions>
</form>
