<div
     fxLayout="column"
     fxLayoutAlign="space-around center"
     *ngIf="posts" 
     fxLayoutGap="10px"
     style="background-image:url(/assets/images/17929187-green-leaves-right-and-left-borders-on-white-background.jpg)">

     <div fxFlex>
        <div>
           <h1>Posts</h1>
           <hr>
        </div>
      </div>

    <mat-card *ngFor="let post of posts" fxFlex [@expand]>
      <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h2>
        {{post.caption}}</h2>
      </mat-card-title>
    </mat-card-header>
    <img *ngIf='post.image' mat-card-image src='{{BaseURL}}/images//{{post.image}}' alt='{{post.caption}}'>
    <mat-card-content>
     <p>
     {{post.text}}
     </p>
     <p>
       --{{post.author.name}}, {{post.updatedAt | date }}
     </p>
    </mat-card-content>
    </mat-card>
  <div [hidden]="posts || errMess">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{errMess}}</h4>
  </div>


<!--mat-card fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>Kashmir Floods, 2014</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/assets/images/Jammuflood.jpg" alt="Kashmir floods">
  <mat-card-content>
    <p>In Jammu and Kashmir, lives of thousands of people have been devastated by one of the worst floods to hit the state in over 100 years. The death toll after the floods was at 280, and 2.53 lakh houses are damaged in the state.
      More than 2500 villages were affected in the floods.
    </p>
  </mat-card-content>
</mat-card>

<mat-card fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>Gujarat Earthquake, 2001</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/assets/images/bhujearthquake.jpg" alt="Bhuj Earthquake">
  <mat-card-content>
    <p>The earthquake struck near the town of Bhuj, and it was felt throughout much of northwestern India and parts of Pakistan.
       The moment magnitude of the quake was 7.7. In addition to killing more than 20,000 people and injuring more than 150,000 others, the quake left hundreds of thousands homeless and destroyed or damaged more than a million buildings. 
    </p>
  </mat-card-content>
</mat-card-->
 
</div>